* {
    color: darkblue;
}
header{
    display:flex;
}
header h1{
    width:85%;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: inset;
    border-width: 1px;
}
#ex4{
    padding-top:35px;
}
#ex4 .p1[data-count]:after {
    position: absolute;
    right: 10%;
    top: 8%;
    content: attr(data-count);
    font-size: 40%;
    padding: .2em;
    border-radius: 50%;
    line-height: 1em;
    color: white;
    background: rgba(255,0,0,.85);
    text-align: center;
    min-width: 1em;
    //font-weight:bold;
}

body {
    background-color: gainsboro;
}

#mainTop {
    background-color: grey;
}

.ml3 {
    text-align: center;
    font-size: 350%;
    height: 20vh;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    font-size: 200%;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
}

main #div1, #div2, #div2 {
    width: 100%;
    display: flex;
}

main #leftdiv1 {
    text-align: center;
    width: 50%;
}

main #rightdiv1 {
    width: 50%;
}

main #rightdiv1 img {
    width: 100%;
}

main #leftdiv2 {
    width: 50%;
    text-align: center;
}

main #rightdiv2 {
    width: 50%;
    text-align: center;
}

main #div3 {
    background-image: url("hiring.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    text-align: center;
}

main table tr {
    border: 2px solid black;
}

#servicediv {
}

#servicediv img {
    width: 30%;
    height: 30vh;
    float: left;
}

.srvice {
    background-color: white;
    float: right;
    width: 70%;
    height: 35vh;
}

.srv {
    height: 32vh;

    & a {
        border-radius: 4px;
        background-color: orangered;
    }
}
#leftdiv{
    float:left;
    width:35%;
}
rightdiv{
    float:right;
    width:65%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.messages{
    height: 50vh;
    width : 80%;
    overflow-y: scroll;
    overflow-x: visible;
    border: 1px solid;
}
/* The Modal (background) */
.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contents {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.closes {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closes:hover,
.closes:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#ex2{
    padding-top:35px;
}