header{
	text-align:center;
	font-size:200%;
}
nav{
	text-align:center;
}
nav a {
	text-decoration:none;
}
main #div1 , #div2 , #div2{
	width:100%;
	display:flex
}
main #leftdiv1{
	width:50%;
}
main #rightdiv1{
	width:50%;
}
main #leftdiv2{
	width:50%;
	text-align:center;
}
main #rightdiv2{
	width:50%;
	text-align:center;
}