div.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    background-color: grey;
    text-align: center;
    font-size: 20pt;
}



//generate gradient color for the menu
.menuContainer .menu {
    background-color: red;
    width: 100px;
    position: absolute;
    color: black;
    transform-origin: 0 10px;
    transform: rotate(0deg);
    transition: transform 1s;
    z-index: 1;
}

.menuContainer.open .menu {
    transform-origin: 0 10px;
    transform: rotate(-30deg);
    transition: transform 1s;
}

.menuContainer.open .zero {
    transform-origin: 0 10px;
    transform: rotate(-23deg);
    padding-left: 90px;
    transition: transform 1s,padding-left 1s;
}


.loop(@counter, @bgcolor, @angle, @angleIncrement) when (@counter >0) {
    .loop(@counter - 1, lighten(@bgcolor, 10%), @angle+@angleIncrement, @angleIncrement);
    @y_origin: 110px;

    .menuContainer .item:nth-child(@{counter}) {
        position: absolute;
        color: black;
        transform-origin: 0 @y_origin;
        transform: rotate(0deg);
        text-align: right;
        transition: transform 1s;
    }

    .menuContainer.open .item:nth-child(@{counter}) {
        transform-origin: 0 @y_origin;
        transform: translateX(@counter*70px);
        transition: transform 5s;
    }
}

.content {
    .menuContainer {
        position: relative;
    }

    .loop(7, black, 0deg, 10deg);
}
