﻿header{
    text-align:center;
    font-size:250%;
}
main {
    display:flex;
}
#squadRoster{
    padding-top:70px;
    width:25%;
}
#batRoater{
    width:25%;
}#rightDiv{
    float:right;
    width:50%;
}
