* {
    color: darkblue;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: inset;
    border-width: 1px;
}
body{
	background-color: gainsboro;
}
#mainTop {
    background-color: grey;
    text-align: center;
    font-size: 500%;
    height: 20vh;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    font-size: 200%;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
}

main #div1, #div2, #div2 {
    width: 100%;
    display: flex;
}

main #leftdiv1 {
    text-align: center;
    width: 50%;
}

main #rightdiv1 {
    width: 50%;
}

main #rightdiv1 img {
    width: 100%;
}

main #leftdiv2 {
    width: 50%;
    text-align: center;
}

main #rightdiv2 {
    width: 50%;
    text-align: center;
}

main #div3 {
    background-image: url("hiring.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height:30vh;
	text-align:center;
}
main table tr{
border:2px solid black;
}
#servicediv{
	text-align:center;
}
#servicediv img{
	 width:30%;
	 height:20vh;
 }