   body {
            background-color: #DCDCDC;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("background.jpg");
            background-repeat: no-repeat;
            background-size: 100% 50vh;
            height: 50vh;
        }

        img {
            border-radius: 50%;
        }

        .headerText {
            text-align: center;
            color: white;
        }

        main {
            width: 80%;
            float: right;
            height: 40vh;
            background-color: white;
        }

        #leftMain {
            float: left;
        }

        #rightMain {
            float: right;
        }

        main h3 {
            text-align: center;
        }

        nav {
            float: left;
            width: 20%;
        }

            nav a {
                display: block;
                padding-top: 53px;
                text-align: center;
                text-decoration: none;
                color: black;
                font-weight: bold;
            }

        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }
        .mySlides {
            display: none;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }
        .text {
            color: #f2f2f2;
            font-size: 50px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }
        .numbertext {
            color: black;
            font-size: 20px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
    
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

            .active, .dot:hover {
                background-color: #717171;
            }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {
                opacity: .4;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fade {
            from {
                opacity: .4;
            }

            to {
                opacity: 1;
            }
        }

        nav a:hover {
            background-color: grey;
        }