﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>Allcom</title>
</head>
<body>
    <header>
        <h1>Allocom</h1>
    </header>
    <nav>
        <a href="home.html">Home |</a>
        <a href="services.html">Services |</a>
        <a href="products.php">Products |</a>
        <a href="contactus.html"> Contact Us</a>
    </nav>
    <main>
        <div>
            <form action="order.php" style="text-align:center;" method="post">
                <br /><br />
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <br />
                <br />
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <br />
                <br />
                <label for="Address">Address</label>
                <input type="text" id="address" name="Address" />
                <br />
                <br />
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <br /><br />
				<label id="orderStck" name="orderstck" value="{{order}}">Yor Order is: {{order}}</label>
                <br />
				<input type="submit" value="Submit">
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>