<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>Allcom</title>
</head>
<body>
    <header>
        <h1>Allocom</h1>
    </header>
    <nav>
        <a href="home.html">Home |</a>
        <a href="services.html">Services |</a>
        <a href="products.php">Products |</a>
        <a href="contactus.html"> Contact Us</a>
    </nav>
    <main>
        <h2>We Carry</h2>
<h3>Telephone</h3>	
<table style="width:50%;border-bottom:5px;">
  {% for data in Tele %}
     <tr>
	 
	 &emsp;
    {{data}}
	
	</tr>
    {% endfor %}
<h3>Accessories</h3>
<table style="width:50%">
  {% for data in Accessory %}
     <tr>
	 
	 &emsp;
    {{data}}
	
	</tr>
    {% endfor %}
    </main>
    <footer></footer>
</body>
</html>