header {
            background-color: blue;
            color: white;
        }

            header h1 {
                text-align: center;
            }

        nav a {
            text-align: center;
            text-decoration: none;
            display: inline-block;
            padding-left: 80px;
        }

        main h2 {
            color: blue;
        }

        main img {
            float: left;
        }

        footer a {
            text-decoration: none;
        }

        .Sign {
            float: right;
        }