﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.5.0/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <script src="scripts.js" defer></script>
    <title>Allcom</title>
</head>
<body>
    <header>
        <h1>Allocom</h1>
        <div id="ex4">
            <span class="p1">
                <a href="cart.html"><i class="p3" data-count="4b">&#x1f6d2;</i></a>
            </span>
        </div>
        <div id="ex2">
            <div id="myModals" class="modals">
                <!-- Modal content -->
                <div class="modal-contents">
                    <span class="closes">&times;</span>
                    <<label>User Name</label><input type="text" id="usernames" placeholder="cpsc2030">
                    <br />
                    <label>Password</label><input type="password" id="pass" placeholder="1234">
                    <br />
                    <input type="button" value="login" class="logbttn">
                </div>

            </div>
            <span class="p4">
                <i class="p5" data-count="4b"> &#x1f6aa;</i>
            </span>
        </div>
    </header>
    <nav>
        <a href="home.html">Home |</a>
        <a href="services.html">Services |</a>
        <a href="products.php">Products |</a>
        <a href="contactus.html"> Contact Us</a>
    </nav>
    <main>
        <div>
            <form action="order.php" style="text-align:center;" method="post">
                <br /><br />
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <br />
                <br />
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <br />
                <br />
                <label for="Address">Address</label>
                <input type="text" id="address" name="Address" />
                <br />
                <br />
                <label for="email">Last Name</label>
                <input type="text" id="email" name="email" placeholder="Your last name..">
                <br />
                <br />
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <br /><br />
                <label id="orderstck" name="orderstck" value="{{NameStr}}">Yor Order is: <br />{{NameStr}}</label>
                <p id="price" name="pricess" value="{{Price}}">Yor Total is: $ {{Price}}</p>
                <br />
                <input type="submit" value="Submit">
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>