@light-pink: #FF69B4;
@purple: #8B008B;
@green: #008000;
@darkpurple: #4B0082;

body {
    text-align: center;
    width: 50%;
    margin: auto;
}

.topmenu {
    background-color: @darkpurple;
    border-radius: 60px;
}

.title {
    background: linear-gradient(to right, @purple 0%, @light-pink 100%);
}

.container {
    background-color: @light-pink;
    border: 2px solid @purple;
    border-radius: 10px;
    margin: auto;
}

.item {
    display: inline-block;

    &:nth-child(1) {
        background-color: @purple;
    }

    &:nth-child(2) {
        background-color: @light-pink;
    }

    &:nth-child(3) {
        background-color: @purple;
    }

    &:nth-child(4) {
        background-color: @light-pink;
    }

    &:nth-child(5) {
        background-color: @purple;
    }

    &:nth-child(6) {
        background-color: @light-pink;
    }

    &:nth-child(7) {
        background-color: @purple;
    }

    &:hover {
        background-color: grey;
    }
}

.bargraph {
    float: right;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: minmax(27px, auto);
    width: 70%;
    background-color: @purple;

    & > div {
        background-color: @green;
        padding: 1em;
        color: #d9480f;
    }
}

.bar1 {
    grid-column: 1;
    grid-row-start: 7;
    grid-row-end: 5;
}

.bar2 {
    grid-column: 3;
    grid-row-start: 7;
    grid-row-end: 3;
}

.bar3 {
    grid-column: 5;
    grid-row-start: 7;
    grid-row-end: 4;
}

.bar4 {
    grid-column: 7;
    grid-row-start: 7;
    grid-row-end: 6;
}

.sidebar {
    float: left;
    width: 30%;
    height: 49.4vh;
    background-color: @purple;
}

.sidebar .item {
    background-color: @purple;
    font-weight: bold;
    display: block;
}

.subItem {
    display: none;
    font-weight: bold;
    position: relative;
    background-color: @purple;
    min-width: 160px;
    padding-left: 15px;
    z-index: 1;

    &:hover {
        color: red;
    }
}

.sidebar .item:hover div {
    display: block;
}

.flexbottom {
    display: flex;
    flex-grow: 100;
    flex-shrink: 50;
    text-align: center;
    background-color: @light-pink;
    float: right;
    width: 70%;
    overflow: hidden;
}

.flexbottom h2 {
    order: initial;
}

.mon {
    content: "\A";
    border: 2px solid black;
    border-radius: 5px;
    width: 18%;

    &:nth-child(1) {
        background: linear-gradient(to right, @light-pink -50%, @darkpurple 100%);
    }

    &:nth-child(2) {
        order: 1;
        background: linear-gradient(to right, @darkpurple -50%, @light-pink 100%);
    }

    &:nth-child(3) {
        order: 2;
        background: linear-gradient(to right, @light-pink -50%, @darkpurple 100%);
    }

    &:nth-child(4) {
        background: linear-gradient(to right, @darkpurple -50%, @light-pink 100%);
    }

    &:nth-child(5) {
        background: linear-gradient(to right, @light-pink -50%, @darkpurple 100%);
    }
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .topmenu {
        background-color: @darkpurple;
    }

    .title {
        background: linear-gradient(to right, @purple 0%, @light-pink 100%);
    }

    .container {
        background-color: @light-pink;
        border: 2px solid @purple;
        border-radius: 10px;
        width: 100%;
    }

    .topmenu .item {
        display: block;

        &:nth-child(1) {
            background-color: @purple;
        }

        &:nth-child(2) {
            background-color: @light-pink;
        }

        &:nth-child(3) {
            background-color: @purple;
        }

        &:nth-child(4) {
            background-color: @light-pink;
        }

        &:nth-child(5) {
            background-color: @purple;
        }

        &:nth-child(6) {
            background-color: @light-pink;
        }

        &:nth-child(7) {
            background-color: @purple;
        }

        &:hover {
            background-color: grey;
        }
    }

    .sidebar {
        display: none;
        float: none;
    }

    .bargraph {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: minmax(30px, auto);
        background-color: @purple;

        & > div {
            background-color: red;
        }
    }

    .bar1 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 1;
    }

    .bar2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 3;
    }

    .bar3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 5;
    }

    .bar4 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row: 7;
    }

    .flexbottom {
        float: left;
        display: flex;
        background-color: @light-pink;
        flex-flow: column;
        width: 100%;
    }

    .mon {
        border: 2px solid black;
        border-radius: 5px;
        background-color: @purple;
        width: 100%;

        & div:nth-child(1) {
            text-align: left;
            background-color: @purple;
            color: blue;
        }

        & div {
            background-color: @purple;
            color: lightblue;
            text-align: left;
        }
    }
}
